h1{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

ul{
    font-size: 20px;
    font-weight: bold;
    color: midnightblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}